@model MvcPet.Models.Pet

@{
    ViewData["Title"] = "Excluir Pet";
}

<h1>Revise antes de confirmar a Exclusão</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @* @Html.DisplayFor(model => model.image) *@
            <a href="@Model.image" target="_blank">Link para Imagem</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="petId" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <br>
        <br>
        <a asp-action="MyDonations">Voltar</a>
    </form>
</div>
