@model IEnumerable<MvcPet.Models.Pet>

@{
  ViewData["Title"] = "Doações (" + Model.Count() + ")";
}

<h2>Animais disponíveis para doação</h2>

<hr>

<form asp-action="Index">
	<div style="display:flex; flex-direction: row;">
		@* <input type="text" class="form-control" style="max-width: 20%; margin-right: 10px;"> *@
		<select name="filter" id="filter" class="form-control" style="max-width: 10%; margin-right: 30px;">
			<option value="">Mamíferos</option>
			<option value="">Aves</option>
			<option value="">Répteis</option>
			<option value="">Anfíbios</option>
			<option value="">Peixes</option>
			<option value="">Crustáceos</option>
			<option value="">Aracnídeos</option>
			<option value="">Outros</option>
		</select>
		<button type="submit" class="btn btn-outline-primary">Filtrar</button>
	</div>
</form>

<hr>

<div class="grid-container">
	@foreach (var item in Model) {
		<div class="grid-item">
			<div class="card">
				<h5 class="card-header">@item.species</h5>

				<div class="card-body">
					<h4 style="font-weight:bold;">@item.breed</h4>
					<p class="card-text" style="color: #7f7f7f; max-lines:1;"> @item.description. </p>

					<p>
						<a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
							Preview do Pet - Imagem
						</a>
					</p>
					<div class="collapse" id="collapseExample">
						<div class="card card-body">
							<img src="@item.image" alt="" width="100px" height="100px">
							<a href="@item.image" target="_blank">Visualizar em tamanho real</a>
						</div>
					</div>

					<p class="card-text" style="color: #7f7f7f;">
						Cadastrado em @item.created.ToString().Split(" ")[0]
					</p>

					<p style="color: #7f7f7f;">
						Doador: @item.donor.name
					</p>

					<a asp-action="Details" asp-route-id="@item.petId" class="btn btn-primary">Mais informações</a>
					<br>
				</div>
			</div>
		</div>
	}
</div>
