@model IEnumerable<MvcPet.Models.Pet>

@{
  ViewData["Title"] = "Doações (" + Model.Count() + ")";
}

@if( String.IsNullOrEmpty(ViewBag.filter) ){
	<h2>Animais disponíveis para doação</h2>
} else {
	string animal = ViewBag.filter + "s";
	<h2>@animal disponíveis para doação</h2> 
}

<hr>

<form asp-controller="Pet" asp-action="Index">
	<div style="display:flex; flex-direction: row;">
		@* <input type="text" class="form-control" style="max-width: 20%; margin-right: 10px;"> *@
		<select name="filter" id="filter" class="form-control" style="max-width: 15%; margin-right: 30px;">
			<option value="">Todos</option>
			@foreach (Animalclass an in ViewBag.Animals)
			{
				<option value="@an.id">@an.name</option>		
			}
		</select>
		<button type="submit" class="btn btn-outline-primary">Filtrar</button>
	</div>
</form>

<hr>

<div class="grid-container">
	@foreach (var item in Model) {
		<div class="grid-item">
			<div class="card">
				<h5 class="card-header">@item.species</h5>

				<div class="card-body">
					<h4 style="font-weight:bold;">@item.breed</h4>
					<p class="card-text" style="color: #7f7f7f; max-lines:1;"> @item.description. </p>

					<p>
						<a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
							Preview do Pet - Imagem
						</a>
					</p>
					<div class="collapse" id="collapseExample">
						<div class="card card-body">
							<img src="@item.image" alt="" width="100px" height="100px">
							<a href="@item.image" target="_blank">Visualizar em tamanho real</a>
						</div>
					</div>

					<p class="card-text" style="color: #7f7f7f;">
						Cadastrado em @item.created.ToString().Split(" ")[0]
						<br>
						@item.uf - @item.city
					</p>
					
					<form name="detail" asp-controller="User" asp-action="Details" method="post">
						<input type="hidden" name="id" asp-for="@item.donor.userId">
						@* <a href="javascript:detail.submit()">@item.donor.name</a> *@
						<button type="submit" style="background-color: #FFF; border-width: 0px; color:#4f7fbb;">@item.donor.name</button>
					</form>

					<p style="color: #7f7f7f;">
						
					</p>

					<a asp-action="Details" asp-route-id="@item.petId" class="btn btn-primary">Mais informações</a>
					<br>
				</div>
			</div>
		</div>
	}
</div>
